<p-menubar [model]="itemsText" class="h-[88px]">
  <ng-template #start>
    <a routerLink="/">
      <img
      src="wallapick-fondo.jpeg"
      alt="Logo de Wallapick"
      width="70"
      height="70"
      class="rounded-full"
      />
    </a>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2 sm:gap-5">
      @if (loginService.userLogged() ) {
        <div #searchContainer>
        <p-iconfield >
          <p-inputicon class="pi pi-search" />
          <input type="text" class="w-full" [(ngModel)]="searchInput" (input)="handlerInput()" #input pInputText placeholder="Search" />
          @if (searchInput) {
          <p-card styleClass="absolute top-20 w-full z-20 gap-2 overflow-y-scroll 	line-clamp-2  max-h-40 no-scrollbar" >
            
            @if ( productsPartial?.code === 204) {
              <h2 class="text-md font-semibold">{{productsPartial?.data}}</h2>
            }@else {

              
              @for (product of productsPartial?.data; track $index) {

                <div (click)="goToProduct(product?.id, input)"  class="flex cursor-pointer hover:bg-[#ffd4b8] gap-2 overflow-clip max-h-20 p-2 ">
                  
                  <img class=" max-h-18 aspect-square" [src]="product?.image" [alt]="product?.name">
                <span class="font-semibold">{{product?.name}}</span>
              </div>
              }
            }
          </p-card>
        }
        </p-iconfield>
        </div>



      @for (item of itemsIcons; track $index) {
        @if ($index === 1) {
        <a routerLink="{{ item.routerLink }}">
          <p-overlaybadge [value]="cartLength" badgeSize="small" severity="danger">
            <i class="pi {{ item.icon }}" style="font-size: 1.3rem"></i>
          </p-overlaybadge>
        </a>
        }@else {
          <a class="relative" routerLink="{{ item.routerLink }}">
        <i class="pi {{ item.icon }}" style="font-size: 1.3rem"></i>
      </a>
        }

      } } @else {
      <button
        pButton
        routerLink="/register"
        label="Registrarse"
        severity="secondary"
      ></button>
      <button pButton routerLink="/login" label="Iniciar Sesión"></button>
      }
    </div>
  </ng-template>
</p-menubar>
