<p-menubar [model]="itemsText" class="h-[88px]">
  <ng-template #start>
    <a routerLink="/">
      <img
      src="wallapick-fondo.jpeg"
      alt="Logo de Wallapick"
      width="70"
      height="70"
      class="rounded-full"
      />
    </a>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2 sm:gap-5">
      @if (loginService.isLogged() ) {

        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <input type="text" class="w-full" pInputText placeholder="Search" />
        </p-iconfield>


      @for (item of itemsIcons; track $index) {
        @if ($index === 1) {
        <a routerLink="{{ item.routerLink }}">
          <p-overlaybadge value="0" badgeSize="small" severity="danger">
            <i class="pi {{ item.icon }}" style="font-size: 1.3rem"></i>
          </p-overlaybadge>
        </a>
        }@else {
          <a class="relative" routerLink="{{ item.routerLink }}">
        <i class="pi {{ item.icon }}" style="font-size: 1.3rem"></i>
      </a>
        }

      } } @else {
      <button
        pButton
        routerLink="/register"
        label="Registrarse"
        severity="secondary"
      ></button>
      <button pButton routerLink="/login" label="Iniciar Sesión"></button>
      }
    </div>
  </ng-template>
</p-menubar>

<!-- <header class="bg-[#ff6b1f]">
  <div class="flex justify-between items-center max-w-7xl mx-auto ">
    <img src="wallapick.png" alt="Logo de Wallapick" width="75" height="75" />

    <nav>
      <ul class="flex gap-8 justify-center items-center">
        @for (item of itemsText; track $index) {
        <li class="text-white">
          <a routerLink="{{ item.path }}">{{ item.name }}</a>
        </li>
        }
      </ul>
    </nav>
    <nav>
      <ul class="flex gap-5 justify-center items-center">
        <li class="text-white">
          <ng-icon class="text-lg" name="lucideSearch" />
        </li>
        @for (item of itemsIcons; track $index) {
        <li class="text-white">
          <a routerLink="{{ item.path }}"
            ><ng-icon class="text-lg" name="{{ item.name }}"
          /></a>
        </li>
        }
      </ul>
    </nav>
  </div>
</header> -->
