<section>
  <div class="w-full mx-auto max-w-5xl grid md:grid-cols-[auto_auto] gap-x-8">
    <!-- <p-breadcrumb [model]="items" class="md: py-4 w-full" /> -->
     <div class=" text-sm text-gray-800 dark:text-white p-3">
       <a class="flex items-center gap-2" routerLink="/products">
         <i class="pi pi-arrow-left" style="font-size: .8rem;"></i>
         <span>Atras</span>
        </a> 
     </div>
    <p-breadcrumb
      [model]="items"
      class="text-sm w-full block col-span-full overflow-x-auto whitespace-nowrap pb-4"
    />

    <img
      [src]="product()?.data.image"
      class="aspect-auto p-4 w-full"
      alt=""
    />

    <div class="hidden md:block">
      <p-card class="p-4 pb-12 h-fit">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2 capitalize">
          {{product()?.data?.name}}
        </h2>
        <h3 class="text-lg font-medium text-gray-600 dark:text-white mb-1">
          {{product()?.data?.status}}
        </h3>
        <p class="text-xl font-semibold mb-4">{{product()?.data.price}}€</p>

        <div class="flex gap-4">
           @if (product()?.data?.seller === "EBAY_SELLER") {

          <a pButton icon="pi pi-shop" target="_blank" severity="warn" styleClass="width: 100%;" label="Ir a Ebay" href={{product()?.data.urlEbayProduct}}></a>

        }@else if (product()?.data?.seller === dataUser.username ) {
          <button
                    label="Ir a Administrar"
                    pButton
                    icon="pi pi-pencil"
                    severity="contrast"
                    (click)="goToEditProduct()"
                  ></button>
        }
        
        @else {

          <p-button icon="pi pi-shopping-cart" label="Agregar al Carrito" (click)="addCart()"/>
          <p-button
          (click)="onBuy()"
          icon="pi pi-shopping-bag"
          label="Comprar"
          severity="secondary"
          />
        }
        </div>

        <p-divider />
        <p-avatar icon="pi pi-user" class="mr-2" size="large" shape="circle" />
        <p class="text-sm text-gray-700 dark:text-white my-2">
          Vendido por: <span class="font-medium">{{product()?.data.seller}}</span>
        </p>
      </p-card>
    </div>

    <div class="block md:hidden p-4">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2"> {{product()?.data.name}}</h2>
      <h3 class="text-lg font-medium text-gray-600 mb-1 dark:text-white">
        Estado del producto
      </h3>
      <p class="text-xl font-semibold mb-4">{{product()?.data.price}}€</p>

      <div class="flex gap-4">

        @if (product()?.data.seller === "EBAY_SELLER") {
          <a pButton icon="pi pi-shop" target="_blank" severity="warn" styleClass="width: 100%;" label="Ir a Ebay" href={{product()?.data.urlEbayProduct}}></a>
        }@else {

          <p-button icon="pi pi-shopping-cart" label="Agregar al Carrito" (click)="addCart()"/>
          <p-button
          (click)="onBuy()"
          icon="pi pi-shopping-bag"
          label="Comprar"
          severity="secondary"
          />
        }
      </div>

      <p-divider />
      <p-avatar icon="pi pi-user" class="mr-2" size="large" shape="circle" />
      <p class="text-sm text-gray-700 dark:text-white my-2">
        Vendido por: <span class="font-medium">{{product()?.data.seller}}</span>
      </p>
    </div>

    <div class="p-4">
      <p-divider />
      <h2 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">
        Detalles del producto
      </h2>
      <p class="text-sm text-gray-700 dark:text-white leading-relaxed mb-2">
        {{product()?.data.description}}
      </p>
      <p class="text-sm text-gray-600 dark:text-white">
        <span class="font-medium text-gray-800 dark:text-white  ">Estado:</span> Como nuevo
      </p>
      <p-divider />
    </div>

    
  </div>
</section>
