<div
  class="grid grid-cols-1 md:grid-cols-2 gap-4 h-fit {{
    optionSelected() === ''
      ? 'hidden md:grid '
      : optionSelected() === 'Mi Perfil'
      ? ''
      : 'hidden md:block'
  }}"
>
  <h2 class="col-span-full text-2xl font-semibold pt-6">Datos Personales</h2>

  @if (isEditing) {
  <form (ngSubmit)="updateData()" [formGroup]="form" class="grid grid-cols-1 md:grid-cols-2 gap-4 col-span-full">
    <label class="flex flex-col gap-2">
      Nombre
      <input pInputText formControlName="name"/>
    </label>
    <label class="md:col-[2/3] flex flex-col gap-2">
      Apellido
      <input pInputText formControlName="lastname"/>
    </label>
    <label class="flex flex-col gap-2 col-span-full">
      Correo
      <input pInputText formControlName="email"/>
    </label>
    <label class="flex flex-col gap-2 col-span-full">
      Contraseña
      <input pInputText type="password" formControlName="password"/>
    </label>
    <button
      pButton
      severity="success"
      label="Actualizar Datos"
      class="col-span-full mt-4"
    ></button>
  </form>

  }@else {

  <label class="flex flex-col gap-2">
    Nombre
    <input pInputText disabled value="{{ userData().name }}" />
  </label>
  <label class="md:col-[2/3] flex flex-col gap-2">
    Apellido
    <input pInputText disabled value="{{ userData().lastname }}" />
  </label>
  <label class="flex flex-col gap-2 col-span-full">
    Correo
    <input pInputText disabled value="{{ userData().email }}" />
  </label>
  <button
    pButton
    severity="contrast"
    label="Editar Datos"
    class="col-span-full mt-4"
    (click)="toggleEdit()"
  ></button>
  }
</div>
