<div
  class="mx-auto max-w-7xl p-6 grid gap-4 {{
    isView ? 'md:grid-cols-[auto_1fr]' : 'md:grid-cols-1 '
  }}  relative"
>
  <div
    class="absolute top-6 z-10 right-8 cursor-pointer hover:scale-105 transition-all ease-in"
  >
    <i
      class="pi pi-filter"
      (click)="filterVisibility()"
      style="font-size: 1.5rem"
    ></i>
  </div>
  <p-card
    header="Filtros"
    class="p-4 text-gray-800 justify-start h-fit transition-all lg:block"
    [ngClass]="
      isView
        ? 'block fixed z-10 md:static w-full top-0 lg:block'
        : 'absolute lg:block -left-[1000px]'
    "
  >
    <div
      (click)="filterVisibility()"
      class="absolute md:hidden top-10 right-8 cursor-pointer"
    >
      <i class="pi pi-times text-red-600"></i>
    </div>

    <!-- Categorías -->
    <ul class="mb-6 space-y-1">
      <li
        class="text-sm font-medium cursor-pointer hover:text-[#ff6b1f] {{
          categoriaSeleccionada() === 'Todas' ? 'text-[#ff6b1f]' : ''
        }}"
        (click)="selectCategory('Todas')"
      >
        Todas
      </li>
      @for (item of categoriesArray; track $index) {
      <li
        class="text-sm font-medium cursor-pointer capitalize hover:text-[#ff6b1f] {{
          categoriaSeleccionada() === item ? 'text-[#ff6b1f]' : ''
        }}"
        (click)="selectCategory(item)"
      >
        {{ item }}
      </li>
      }
    </ul>

    <p-divider />

    <!-- Precio -->
    <h3 class="text-lg font-semibold mt-6">Precio</h3>
    <p-slider
      class="mb-8 mt-4"
      [(ngModel)]="rangeValues"
      [min]="0"
      [max]="2000"
      [step]="10"
      [range]="true"
      (ngModelChange)="rangeValuesSignal.set([rangeValues[0], rangeValues[1]])"
    >
    </p-slider>

    <div class="grid grid-cols-2 gap-4">
      <p-floatlabel>
        <input
          class="w-full md:w-24 text-sm"
          id="min"
          pInputText
          [(ngModel)]="rangeValues[0]"
          readonly
        />
        <label for="min" class="text-sm font-medium">Min</label>
      </p-floatlabel>

      <p-floatlabel>
        <input
          class="w-full md:w-24 text-sm"
          id="max"
          pInputText
          [(ngModel)]="rangeValues[1]"
          readonly
        />
        <label for="max" class="text-sm font-medium">Max</label>
      </p-floatlabel>
    </div>
  </p-card>

  <section
    class="grid grid-cols-1 transition-all ease-in {{
      isView ? 'lg:grid-cols-2' : 'md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3'
    }}   gap-6"
  >
    @if (products()?.datas?.length > 0) {
    <div class="col-span-full mb-6">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-white mb-1">
        Encuentra lo que buscas
      </h3>
      <p class="text-sm text-gray-600 dark:text-white">
        Se han encontrado
        {{ products()?.datas?.length }}

        artículos para ti
      </p>
    </div>
    <app-producto-component
      [product]="paginatedProducts()"
      class="col-span-full"
    />
    <div class="flex justify-center items-center gap-4 mt-6 col-span-full">
      <p-button
        label="Anterior"
        (click)="prevPage()"
        [disabled]="currentPage() === 1"
      ></p-button>

      <span>Página {{ currentPage() }} de {{ totalPages() }}</span>

      <p-button
        label="Siguiente"
        (click)="nextPage()"
        [disabled]="currentPage() === totalPages()"
      ></p-button>
    </div>

    }@else {
    <div class="col-span-full mb-6">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-white mb-1">
        No se han encontrado Productos :(
      </h3>
    </div>
    <div class="justify-self-center col-span-full">
      <img src="404.webp" alt="404" />
    </div>

    }
  </section>
</div>
